<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lodi.xo.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lodi.common.model.entity.Article">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="cover" property="cover" />
        <result column="user_id" property="userId" />
        <result column="tag_id" property="tagId" />
        <result column="category_id" property="categoryId" />
        <result column="is_publish" property="isPublish" />
        <result column="open_comment" property="openComment" />
        <result column="click_count" property="clickCount" />
        <result column="collect_count" property="collectCount" />
        <result column="upvote_count" property="upvoteCount" />
        <result column="vip_article" property="vipArticle" />
        <result column="audit_status" property="auditStatus" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        is_delete,
        id, title, summary, content, cover, user_id, tag_id, category_id, is_publish, open_comment, click_count, collect_count, upvote_count, vip_article, audit_status, sort
    </sql>

</mapper>
