<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lodi.xo.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lodi.common.model.entity.Comment">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="first_comment_id" property="firstCommentId" />
        <result column="to_id" property="toId" />
        <result column="article_id" property="articleId" />
        <result column="user_id" property="userId" />
        <result column="to_user_id" property="toUserId" />
        <result column="content" property="content" />
        <result column="source" property="source" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        is_delete,
        id, first_comment_id, to_id, article_id, user_id, to_user_id, content, source
    </sql>

</mapper>
